:root {
  --background: #171717;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

nav {
  margin: 20px 0 20px 0;
}

nav a {
  margin: 10px;
  text-decoration: none;
}

nav a:first-of-type {
  margin-left: 0;
}

main {
  padding: 20px;
}

li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding-bottom: 1rem;
  border-bottom: 2px solid #ffffff;
}

button {
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 1rem;
  border: 2px solid #ffffff;
  border-radius: 8px;
  padding:.25rem .5rem;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
}

button:hover{
  border: 2px solid #363636;
  color: #363636;
  box-shadow: inset -3px 3px 2px rgb(144, 142, 142);
  background-color: #ffffff;
}

Link {
  background: none;
  border: none;
}

